# SYSTEM
NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:123@localhost:5432/erp-lite-db


# JWT
JWT_SECRET=your_secret
JWT_EXPIRES_IN=1d

JWT_REFRESH_SECRET=your_secret_refresh
JWT_REFRESH_EXPIRES_IN=7d

# MAIL
SMTP_FROM=your_mail_from
SMTP_HOST=your_host
SMTP_PORT=your_port
SMTP_SECURE=true
SMTP_USER=your_user
SMTP_PASSWORD=your_password

# FRONTEND
FRONTEND_URL= http://localhost:3000